.wrap-users-albums{
  border: #fff solid 2px;;
  font-size: 20px;
}

h5 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-size: 20px;
}

.for-bord{
  padding: 5px;
  border: #D3D3D3 solid 2px;;
  font-size: 20px;
  flex-grow: 1;
}

.user-albums{
  margin-top: 25px;
}

.nuser {
  padding: 5px;
}
