***********
<div *ngIf="user">
  <h2> Users > User {{user?.id}} </h2>
  <div class="wrap-users-albums">
    <div class="firste-profil">&nbsp;Profile</div>
    <br>
    <h5>&nbsp;<p class="nuser"> First name:&nbsp;</p> <p class='for-bord'> {{user?.name}}</p>&nbsp;</h5>
    <h5>&nbsp;<p class="nuser">Last name:&nbsp;</p> <p class='for-bord'> {{user?.username}}</p>&nbsp;</h5>

  </div>

  <div class="user-albums">
    <h5>Albums - dataSource</h5>

    <mat-table [dataSource]="" class="mat-elevation-z8">
      <!-- id Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a routerLink="/album/{{element.id}}">
            {{element.id}}
          </a>
         </mat-cell>
      </ng-container>

      <!-- first Title Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>
</div>
