.mnv-main-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  background: grey;
  color: #fff;
}

.main-nav{
  padding: 50px;
  border: oldlace solid 1px;
}

.main-route {
  flex-grow: 2;
  padding: 50px;
  border: oldlace solid 1px;
}


.mnv-main-wrap nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  width: 250px;
  border: oldlace solid 1px;
  padding: 10px;
}
